{% extends 'base.html.twig' %}

{% block body %}
<h1 >Toutes les séries - "{{ blagues['joke'] }}"</h1>

    <div class="listeSeries">
    {% for serie in series %}
        <a href="serie/{{ serie.id }}">
        <div class="ficheSerie">
        <img class="illustrationListe" src="{{ asset('images/series/'~serie.image) }}">
        <h2 class="titreListe">{{ serie.titre }}</h2>
            <p>{{ serie.saisons | length }} saisons</p>
        </div>
        </a>
    {% endfor %}
        <a href="creation">
            <div class="ficheSerie">
                <img class="illustrationListe" src="images/Logo-plus.png">
                <h2>Ajouter</h2>
            </div>
        </a>
    </div>

{% endblock %}

{% block title %}

{% endblock %}

